<% @user ||= current_user %>
<div class="stats">
  <a href="<%= subscribed_subscription_path(@user) %>">
    <strong id="subscribing" class="stat">
      <%= @user.subscribeds.count %>
    </strong>
    subscribing
  </a>
  <a href="<%= subscribers_subscription_path(@user) %>">
    <strong id="subscribers" class="stat">
      <%= @user.subscribers.count %>
    </strong>
    subscribers
  </a>
</div>